* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

}

body {
    line-height: 1.6;

}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*
Esta parte es para Arreglar la barra de navegacion separando el titulo
de la lista.
 */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/*
Esta parte es para modificar el logo dandole cuerpo y resaltandolo.
 */

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

/*
Esta parte es para modificar la barra de navegacion.
 */
.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

/*
Esta parte es para modificar color y quitar el subrayado, pero como 
tal en las palabras.
 */
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;

}

/*
Esta parte es para dar animacion a el listado de inicio, audifonos y contacto
 */

.nav-links a {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    list-style: none;
    display: flex;

    position: relative;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    transition: 0.5s;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -2.4px;
        width: 110%;
        height: 100%;
        border-top: 2px solid #262626;
        border-bottom: 2px solid #262626;
        transform: scaleY(2);
        opacity: 0;
        transition: 0.3s;
        border-radius: 5px;
    }

    &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: -2.4px;
        width: 110%;
        height: 100%;
        background-color: #262626;
        transform: scale(1);
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
        border-radius: 5px;
    }

    &:hover {
        color: #fff;

        &:before {
            transform: scaleY(1);
            opacity: 1;
        }

        &:after {
            transform: scaleY(1);
            opacity: 1;
        }
    }
}



/*
Esta parte es para modificar el fondo y la visual del id hero, centrando el texto y dandole color.
 */

#hero {
    padding-top: 2rem;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/Portada.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 1rem;
}

/*
Esta parte es para modificar el h1 del id hero.
 */
#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;

}

/*
-------------------------------------------------------------
 */
/*
Esta parte es para modificar el boton de ver anuncio dandole visibilidad y estilo.
 */
/*
.cta-button {
    background-color: #2263f1;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}

.cta-button:hover {
    background-color: #333;
}
*/
/*
-------------------------------------------------------------
 */
/*
Ahora vamos a modificar y dar forma a la parte de los productos (Audifonos).
 */

#Audifonos {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#Audifonos h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.audifonos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.audifonos-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

/*Esta parte corresponde al estilo de las tarjetas de los audifonos y su centrado 
(modifica las imagenes como tal)*/
.audifonos-card img {
    /*width: 50%;*/
    width: 160px;
    height: 200px;
    object-fit: cover;
    margin: 80px 80px;
}

/*modificando titulo de las tarjetas*/
.audifonos-card h3 {
    padding: 1rem;
    color: #333;
}

.precio {
    color: #ff6b6b;
    font-weight: bold;
    padding: 0 1rem;
}

.descripcion {
    padding: 1rem 1rem;
    color: #333;
}

.audifonos-card button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.audifonos-card button:hover {

    background-color: #131313;

}


/*Estilo del titulo contacto*/

#contacto {
    background-color: #f9f9f9;
    padding: 4rem 2rem;

}

#contacto h2 {
    text-align: center;
    margin-bottom: 2rem;
}

/*arreglando las casillas de nombre,email,mensaje*/

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*acceso al input y el textarea, que son los recuadros como tal*/

input,
textarea {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    height: 150px;
    resize: vertical;
}

/*estilo al boton de enviar*/

form button {
    background-color: #2263f1;
    color: #f9f9f9;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0651f2;
}

/*acá se arreglo el footer o sello final*/

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}


/*Esta parte es para que la pagina sea responsive
(osea que responda segun el tamaño del dispositivo)*/

@media screen and (max-width: 430px) {
    nav {
        flex-direction: column;
        padding: 1rem;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
        gap: 1rem;
    }

}